:root {

    --clr-primary-bg: hsl(0, 100%, 74%);
    --clr-primary-submit: hsl(154, 59%, 51%);
    --clr-primary-submit-lighter: hsl(154, 59%, 51%, 0.8);

    --clr-accent-membership: hsl(248, 32%, 49%);

    --clr-neutral-input:hsl(249, 10%, 26%);
    --clr-neutral-show:hsl(246, 25%, 77%);
}

html,
body,
h1,
p,
form {
    display: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

/* Table of contents

1. Global stlyes

2. Typography

3. Components

4. Animation

5. Media Query

*/


/* ================
   1. Global styles
   ================ */

body {
    background-image: url(/images/bg-intro-desktop.png);
    background-color: var(--clr-primary-bg);
    color: #FFF;
}

.membership {
    background-color: var(--clr-accent-membership);
}

input[type=submit] {
    background-color: var(--clr-primary-submit);
    color: #FFF;
}

.terms-and-services-button {
    color: var(--clr-neutral-show);
}

.sign-in-form {
    background-color: #FFF;
}

.terms-and-services-button span {
    color: var(--clr-primary-bg);
}

input {
    color: var(--clr-neutral-input);
}

/* ================
   2. Typography
   ================ */

body,
input {
    font-size: 1rem;
    font-family: Poppins;
    line-height: 1.6;
}

h1 {
    font-weight: 700;
    font-size: clamp(1.8rem, 5vw, 3rem);
    line-height: 1;
}

.membership span {
    font-weight: 600;
}

input[type=submit] {
    font-weight: 500;
    text-transform: uppercase;
}

.terms-and-services-button {
    font-size: .7rem;
}
.sign-in-form span {
    font-weight: 600;
}

input {
    font-weight: 500;
}

/* ================
   3. Components
   ================ */

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    width: min(78%, 70rem);
    min-height: 34.5rem;
}

.sign-in-sec,
.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign-in-sec {
    width: 70rem;
    justify-content: flex-start;
    align-items: stretch;
}

h1 {
    margin-bottom: .5em;
}

.text p {
    padding-right: 2.9em;
}

.membership {
    width: 100%;
    text-align: center;
    padding-block: 1em;
    margin-bottom: 1.5em;
    border-radius: .5rem;
    box-shadow: 0 .5rem rgba(0, 0, 0, 0.2);
}
.membership p{
    padding-inline: 3em;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.sign-in-form {
    height: 100%;
    padding: clamp(1.5em, 3vw, 2.5em);
    border-radius: .5rem;
    box-shadow: 0 .5rem rgba(0, 0, 0, 0.2);
}

input {
    padding: .8em;
    padding-left: 2em;
    margin-bottom: clamp(1em, 5vw, 1.5em);
    border-radius: .4rem;
    border: 1px solid var(--clr-neutral-show);
    outline: none;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
    border: 1px solid var(--clr-neutral-input);
}

input[type=submit] {
    margin-bottom: .7em;
    box-shadow: inset 0 -.2rem rgba(0, 0, 0, 0.2);
}

input[type=submit]:hover {
    cursor: pointer;
}


input[type=submit]:hover {
    opacity: 80%;
}

.sign-in-form p {
    text-align: center;
}

@media all and (max-width: 1110px) {
    .container {
        flex-direction: column;
        width: clamp(20rem, 70%, 37rem);
        margin: 5em 0;
    }

    .sign-in-sec {
        width: 100%;
        margin-top: 4em;
    }

    h1 {
        line-height: 1.3;
        text-align: center;
    }

    .text p {
        text-align: center;
        padding: 0;
    }

}